# Desafio:

Você faz parte da equipe de Analytics de uma grande marca de vestuário com mais de 25 lojas espalhadas em Shoppings de todo o Brasil.

Toda semana você precisa enviar para a diretoria um ranking atualizado com as 25 lojas contendo 3 informações:
- Faturamento de cada Loja
- Quantidade de Produtos Vendidos de cada Loja
- Ticket Médio dos Produto de cada Loja

Além disso, cada loja tem 1 gerente que precisa receber o resumo das informações da loja dele. Por isso, cada gerente deve receber no e-mail:
- Faturamento da sua loja
- Quantidade de Produtos Vendidos da sua loja
- Ticket Médio dos Produto da sua Loja

Esse relatório é sempre enviado como um resumo de todos os dados disponíveis no ano.

# Solução do Desafio:

Para resolver o desafio vamos seguir a seguinte lógica:

- Passo 1 - Importar a base de Dados
- Passo 2 - Visualizar a Base de Dados para ver se precisamos fazer algum tratamento
- Passo 3 - Calcular os indicadores de todas as lojas:
  - Faturamento por Loja
  - Quantidade de Produtos Vendidos por Loja
  - Ticket Médio dos Produto por Loja
- Passo 4 - Calcular os indicadores de cada loja
- Passo 5 - Enviar e-mail para cada loja
- Passo 6 - Enviar e-mail para a diretoria

### Passo 1 - Importando a Base de Dados

In [3]:
import pandas as pd

In [4]:
#dataframe
df = pd.read_excel('Vendas.xlsx')

### Passo 2 - Visualizando os Dados e verificando a necessidade de fazer tratamento dos Dados

In [5]:
display(df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

Observe que não conseguimos ver todos os dados, além disso nossa observação pode nos confundir ou deixar algo passar. Podemos usar o comando a seguir pra ter algumas informações resumidas das **colunas numéricas**

In [9]:
df.describe()

        Código Venda     Quantidade  Valor Unitário    Valor Final
count  100999.000000  100999.000000   100999.000000  100999.000000
mean    34923.310429       2.165249      191.861018     414.628491
std     20227.910360       1.257710      145.414462     434.093054
min         1.000000       1.000000       30.000000      30.000000
25%     17461.000000       1.000000      100.000000     156.000000
50%     34842.000000       2.000000      155.000000     274.000000
75%     52502.000000       3.000000      248.000000     524.000000
max     69997.000000       5.000000      750.000000    3750.000000

Com isso podemos ver que não há **campos numéricos** sem preenchimento, além disso não temos números negativos, o que é bom pois não faz sentido ter quantidade ou valor negativo. Dessa forma temos consistência em relação a isso.
**Observação:** Aqui verifiquei apenas uma pequena parte dos dados. É necessário verificar mais coisas pra saber o que precisaremos tratar, mas neste projeto, a base já está ok e o objetivo não é ir a fundo nessa parte, sinta-se a vontade pra buscar mais testes e se diveritir!